h1 {
  color: blue;
  background-color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  color: #fcba03;
  background-color: #7f02c7;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-bottom: solid 2px red;
}
